<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Tokidex</title>
  </head>
  <body>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <div id="top-nav">

    </div>
    <div class="side-nav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="display-box">
      <h1 class="logo">Tokidex</h1>
      <ul>
        <% results.forEach(function(r) { %>
          <li class="tokimon-box">
            <table>
              <% var initial = r.name; %>
              <td><img src="" alt='<%= initial[0] %>'></td>
              <td>
                <p class="tokimon-index">#<%= r.id %></p>
                <h3 class="tokimon-name"><%= r.name %></h3>
                <ul class="element-list">
                  <li class='<%= r.element1 %>'><%= r.element1 %></li>
                  <li class='<%= r.element2 %>'><%= r.element2 %></li>
                  <li class='<%= r.element3 %>'><%= r.element3 %></li>
                </ul>
              </td>
            </table>
          </li>
        <% }); %>
      </ul>
      <!-- <table id="display-table">
        <tr>
          <td>
            <div class="tokimon-box">
              <img class="tokimon-pic" src="something.png" alt="P">
              <p class="tokimon-index">#1</p>
              <h3 class="tokimon-name">Pikachu</h3>
              <ul class="element-list">
                <li class="grass">Grass</li>
                <li class="electric">Electric</li>
                <li class="water">Water</li>
              </ul>
            </div>
          </td>
        </tr>
      </table> -->
    </div>
  </body>
</html>
