<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tokidex</title>
  </head>
  <body>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <div id="top-nav">
      <h1>Tokidex</h1>
      <ul name="nav-list">
        <li><button type="nav-butt" name="index">Index</button></li>
        <li><button type="nav-butt" name="deceased">Deceased</button></li>
      </ul>
    </div>
    <div id="display-box">
      <ul>
        <% results.forEach(function(r) { %>
          <li class="tokimon-box">
            <table>
              <!-- <% var initial = r.name[0]; %> -->
              <td><img src="" alt="P"></td>
              <td>
                <p class="tokimon-index">#<%= r.id %></p>
                <h3 class="tokimon-name"><%= r.name %></h3>
                <ul class="element-list">
                  <li class="grass"><%= r.element1 %></li>
                  <li class="electric"><%= r.element2 %></li>
                  <li class="water"><%= r.element3 %></li>
                </ul>
              </td>
            </table>
          </li>
        <% }); %>
      </ul>
      <!-- <table id="display-table">
        <tr>
          <td>
            <div class="tokimon-box">
              <img class="tokimon-pic" src="something.png" alt="P">
              <p class="tokimon-index">#1</p>
              <h3 class="tokimon-name">Pikachu</h3>
              <ul class="element-list">
                <li class="grass">Grass</li>
                <li class="electric">Electric</li>
                <li class="water">Water</li>
              </ul>
            </div>
          </td>
        </tr>
      </table> -->
    </div>
  </body>
</html>
